/**
 */
body {
}
.button {
	color:#fff!important;
	opacity:0.9;
	background-color:#2196F3!important;
	border:none;
	display:inline-block;
	outline:0;
	padding:6px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none!important;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	border-radius:8px!important;
	transition-duration: 0.4s;
}
.button:active{
	border:1px gray inset;
}
.button:hover{
	opacity:0.9;
}
.button:disabled{
	cursor:not-allowed;
	opacity:0.3;
	pointer-events:none;
}
.tabframe {
	border : 1px black inset;
	padding : 10px;
}
h3 {
	text-align: center;
	color: gray;
	text-decoration: underline;
}
label {
	font-weight: bold;
}
table {
	border : 1px outset;
	width : 80%;
}
table thead tr {
	background-color: #007fff;
	color: white;
	text-align: center;
}
table tbody tr {
	border: 1px;
}
table tbody tr:HOVER {
	border: 1px;
	background-color: #0099ff;
	color: white;
	cursor: pointer;
}
